%nav.navbar.navbar-default.opal-nav(role="navigation")
  .container
    .navbar-header
      %a.navbar-brand(href="/")
        %img(height='22' width='44'  src='http://assets.makersacademy.com/images/logo/ma-white.png')
        Makers Academy
      %button.navbar-toggle(type="button" data-toggle="collapse" data-target="#opal-navbar")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #opal-navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a(href="https://github.com/makersacademy")
            %i.ion-social-github
            GitHub
